@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background: linear-gradient(90deg, #4ca5ff, #b573f8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient__orange {
  background: linear-gradient(90deg, #ff7170 -50.34%, #ffe57f 100.78%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Add to your global CSS file */
html,
body {
  height: 100%;
}

#__next {
  /* This is the ID of the root div in Next.js applications */
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1; /* This will make the main content expand to fill the available space */
}
