@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background: linear-gradient(90deg, #4ca5ff, #b573f8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.5;
}

.text-gradient__orange {
  background: linear-gradient(90deg, #ff7170 -50.34%, #ffe57f 100.78%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.5;
}

.blog-post:hover h2 {
  background: linear-gradient(90deg, #4ca5ff, #b573f8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-link:hover {
  background: linear-gradient(90deg, #4ca5ff, #b573f8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Add to your global CSS file */
html,
body {
  height: 100%;
  /* background-image: url(/white-sample-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1; /* This will make the main content expand to fill the available space */
}

h1 {
  line-height: 4.5;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo-animation {
  animation: fadeInDown 0.5s ease-out forwards;
}

strong {
  position: relative;
  font-weight: 400;
}

strong::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  left: -0.25rem;
  right: -0.25rem;
  height: 0.5rem;
  z-index: -1;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
